# PGA Study
    
This is a first study on PGA index file, a data set released by source{d}.

In [46]:
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('pga_index.csv', low_memory=False)

In [47]:
df.describe(include = 'all')

,URL,SIVA_FILENAMES,FILE_COUNT,LANGS,LANGS_BYTE_COUNT,LANGS_LINES_COUNT,LANGS_FILES_COUNT,COMMITS_COUNT,BRANCHES_COUNT,FORK_COUNT,EMPTY_LINES_COUNT,CODE_LINES_COUNT,COMMENT_LINES_COUNT,LICENSE
count,181482,181482,181482,181369,181369,181369,181369,181482,181482,181482.000000,181369,181369,181369,130644
unique,181482,170829,5658,65087,174402,171043,115701,6847,2667,NaN,158906,165933,113037,5281
top,https://github.com/wouterverweirder/AIR-OpenCV...,c24f3c3f9914ca8fc946e7129acd5fa50c16c65f.siva,9,Markdown,170,2,1,5,2,NaN,0,2,0,MIT:0.988
freq,1,31,3050,5168,12,196,3603,1985,19638,NaN,629,310,5460,37003
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.310224,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.503190,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1843.000000,NaN,NaN,NaN,NaN

In [48]:
df.head()

,URL,SIVA_FILENAMES,FILE_COUNT,LANGS,LANGS_BYTE_COUNT,LANGS_LINES_COUNT,LANGS_FILES_COUNT,COMMITS_COUNT,BRANCHES_COUNT,FORK_COUNT,EMPTY_LINES_COUNT,CODE_LINES_COUNT,COMMENT_LINES_COUNT,LICENSE
0,https://github.com/powmedia/buildify,4a14cc02da0a9280538cd3f3242365601d72f241.siva,12,"JSON,JavaScript,Markdown,Text","653,18611,4669,1094","29,849,216,22","1,5,1,4",38,25,0,"0,190,67,0","28,474,148,0","0,161,0,0",MIT:0.981
1,https://github.com/leon/play-salat,ee02fdfc0942ff17949f456d6ee3a27b976b7141.siva,53,"CSS,HTML,INI,Markdown,Scala,YAML","12981,692,38,12388,34281,132","114,30,4,343,1056,16","1,3,2,19,19,1",104,74,0,"0,4,0,79,156,4","113,25,0,248,766,11","0,0,0,0,102,0",Apache-2.0:1.000
2,https://github.com/adammark/Markup.js,00e71912d4ec215337d5d959a34ab0ce44fdd3b4.siva,22,"CSS,HTML,JSON,JavaScript,Markdown,Shell","6537,11414,678,182203,30807,91","83,492,30,5600,1204,5","1,2,1,13,1,1",295,30,0,"2,91,0,857,347,0","80,395,29,3726,857,0","0,4,0,1008,0,0",MIT:0.870
3,https://github.com/heroku/heroku-buildpack-scala,eb7aa1e50236c65bf44529ebb9a75fae68e1d6b0.siva,33,"JSON,Markdown,Ruby,Scala,Shell,Text,YAML","585,5528,6850,494,69595,1070,711","23,160,229,22,2425,10,32","1,2,5,2,18,1,2",560,206,0,"0,58,19,2,0,0,1","22,100,112,18,0,0,29","0,0,8,0,0,0,0",MIT:0.994
4,https://github.com/brandonwamboldt/utilphp,"993cc5b5ca2603f06a82555df151fbb398114543.siva,...",12,"JSON,Markdown,PHP,XML,YAML","723,13409,157618,714,342","25,337,3986,26,23","1,5,3,1,1",267,112,0,"0,91,548,0,4","24,242,2505,0,18","0,0,930,0,0",MIT:0.965

In [56]:
jupyter_df = df[df['LANGS'].str.contains("Jupyter Notebook")==True]

,URL,SIVA_FILENAMES,FILE_COUNT,LANGS,LANGS_BYTE_COUNT,LANGS_LINES_COUNT,LANGS_FILES_COUNT,COMMITS_COUNT,BRANCHES_COUNT,FORK_COUNT,EMPTY_LINES_COUNT,CODE_LINES_COUNT,COMMENT_LINES_COUNT,LICENSE
count,2606,2606,2606,2606,2606,2606,2606,2606,2606,2606.000000,2606,2606,2606,1694
unique,2606,2439,747,1493,2529,2529,2250,897,398,NaN,2384,2528,2082,261
top,https://github.com/DEAP/notebooks,c24f3c3f9914ca8fc946e7129acd5fa50c16c65f.siva,8,"Jupyter Notebook,Markdown,Python,Text","402,29377,1400,5438294,21,900,19866,82,49889,2...","3794,21,1434,22","1,1,1",6,2,NaN,"0,0,0","0,0,0,172061,0,36,752,3,832,15,0,9,0,0","0,0,0",MIT:0.988
freq,1,29,40,184,3,3,50,40,502,NaN,13,3,134,287
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.209133,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.520236,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.000000,NaN,NaN,NaN,NaN

In [59]:
jupyter_df.head(10)

,URL,SIVA_FILENAMES,FILE_COUNT,LANGS,LANGS_BYTE_COUNT,LANGS_LINES_COUNT,LANGS_FILES_COUNT,COMMITS_COUNT,BRANCHES_COUNT,FORK_COUNT,EMPTY_LINES_COUNT,CODE_LINES_COUNT,COMMENT_LINES_COUNT,LICENSE
494,https://github.com/statsmodels/statsmodels,0b9745d5b485ed8bd4a548543257c960da396d1a.siva,1657,"AGS Script,Batchfile,C,CSS,CSV,Cython,HTML,JSO...","457842,7825,12088,30189,12522370,179965,155105...","6985,249,432,478,194340,4209,2670,242,536,1655...","1,5,3,5,164,19,13,2,3,41,1,3,2,919,29,1,4,1,17...",9727,2368,0,"0,0,96,29,0,570,505,2,57,0,24,20,0,46318,367,0...","0,0,299,367,0,2898,2154,238,336,16514,138,48,0...","0,0,10,79,0,726,3,0,140,0,9,0,0,69211,319,0,0,...","BSD-3-Clause:0.971,BSD-3-Clause-No-Nuclear-Lic..."
1351,https://github.com/ptwobrussell/Mining-the-Soc...,cafea358122f631f15925e253917717f45539e18.siva,144,"CSS,HTML,JavaScript,Jupyter Notebook,Markdown,...","1179,21995,1619294,85048,17008,300682,1520,623","75,690,37629,2031,162,9528,28,24","2,17,12,3,4,96,1,2",168,22,0,"7,103,4055,0,56,2323,0,4","65,538,20410,2031,102,4865,0,10","1,32,13156,0,0,2108,0,8",BSD-2-Clause-FreeBSD:0.841
1645,https://github.com/sagemath/sagecell,"7ac27a0dc245243acfee08840782d56e954928a7.siva,...",237,"Adobe Font Metrics,Batchfile,CSS,HTML,INI,JSON...","557,4537,63637,182720,542,228,486271,5198,6871...","21,171,2550,4610,31,15,13721,224,187,1232,151,...","1,1,22,18,2,1,32,1,2,8,5,49,13,3,3,6,1,13",2436,439,0,"0,0,149,494,0,0,1857,0,33,269,25,1337,0,0,0,0,0,0","0,0,2320,4056,0,14,9595,224,147,958,83,4739,0,...","0,0,60,46,0,0,2246,0,5,0,29,2444,0,0,0,0,0,0",NaN
2196,https://github.com/zeromq/pyzmq,"08c4dbb82205f6dbb3e3e1c024a10741bdc632d3.siva,...",290,"Batchfile,C,C++,CSS,Cython,Dockerfile,HTML,Jup...","3502,22766,33292,8920,112006,267,663,167790,72...","91,1066,1256,553,3560,10,24,507,229,444,21208,...","1,13,5,1,22,1,1,1,3,12,172,1,1,2,6,2,29",2361,799,0,"0,15,0,98,521,0,7,0,31,100,3904,0,0,0,0,17,0","0,56,0,440,1417,0,16,506,116,333,12869,0,0,0,0...","0,9,0,15,1031,0,0,0,5,0,4268,0,0,0,0,27,0","deprecated_LGPL-3.0+:0.996,deprecated_LGPL-3.0..."
2535,https://github.com/PyTables/PyTables,fe6189a37e94ce706e79985ca5d6ff91068ba960.siva,653,"Batchfile,C,C++,CMake,CSV,Cython,Diff,Gnuplot,...","13010,2860411,121115,35579,22668,285193,1999,2...","417,77456,3379,941,1603,8694,66,57,16,31,847,5...","4,148,12,9,5,12,3,2,1,2,1,7,2,1,2,173,34,12,27...",3581,321,0,"0,9602,169,104,0,1588,0,0,3,0,0,114,42,0,23,17...","0,39888,912,613,0,5342,0,0,11,0,846,380,104,0,...","0,15353,428,193,0,1752,0,0,1,0,0,66,0,0,9,2071...",BSD-3-Clause:0.981
2610,https://github.com/serge-sans-paille/pythran,6a0eaa62f5fa3784c0557e2bd365acb7ea576d24.siva,9527,"C,C++,Cython,INI,Jupyter Notebook,Makefile,Per...","3150454,46032991,24198,3330,52642,2182,1297,16...","83936,835262,699,124,2232,111,38,44552,121,463...","154,8699,24,7,4,6,1,538,1,15,15,8,2,7",2180,1030,0,"5856,8,88,0,0,26,2,6790,0,0,685,0,20,0","50517,208,546,0,2229,68,20,26944,0,0,2840,0,103,0","19704,5,41,0,0,4,15,9768,0,0,156,0,0,0",BSD-3-Clause:0.986
3198,https://github.com/Star2Billing/cdr-stats,9f661448b0d4816314d55d0fe361c0a073a94eb6.siva,745,"ApacheConf,CSS,Gettext Catalog,HTML,JSON,JavaS...","479,115460,502849,163724,297648,319143,232325,...","26,2096,20428,4265,1480,10513,5738,206,46,2170...","1,10,7,65,23,9,4,2,1,166,3,16,19,3,1,41",2595,50,1,"0,164,0,460,4,1622,0,41,0,2478,69,0,0,107,1,0","0,1866,0,3680,1461,7310,5734,152,0,9268,488,0,...","0,60,0,83,0,1576,0,11,0,9713,55,0,0,143,15,0","MPL-2.0-no-copyleft-exception:0.982,MPL-2.0:0.982"
3581,https://github.com/shogun-toolbox/shogun,"192987a31e698043a05dd37739373209a030e977.siva,...",2859,"Ant Build System,C,C++,CMake,CSS,Dockerfile,GD...","1413,157483,11500404,228755,907,2189,89,4542,2...","49,4741,410306,6335,60,58,10,118,601,278,25653...","1,39,1901,90,1,2,1,5,8,2,33,1,18,3,20,322,4,1,...",16311,4649,0,"0,123,41393,836,11,0,0,11,0,31,0,1,543,0,0,525...","0,783,185025,4424,48,0,0,100,593,115,25620,7,1...","0,456,29945,996,0,0,0,4,0,130,0,0,0,0,0,3525,0...","deprecated_GPL-3.0+:0.994,deprecated_GPL-3.0:0..."
3982,https://github.com/GalSim-developers/GalSim,"67aeb4852bdcb08940b0d4963ac9c39efc00aa1e.siva,...",987,"AGS Script,C++,Emacs Lisp,HTML,IDL,INI,JSON,Ju...","15436,2066914,6206,248,16318,31027,38882,11467...","102,54636,203,5,459,624,1284,974,71,47,2194,11...","1,202,3,1,6,3,14,3,1,1,7,1,1,13,6,283,7,6,57,1,32",12328,544,0,"0,3354,0,0,0,0,217,0,0,11,499,0,11,0,0,16587,0...","0,20287,0,4,0,0,1053,971,0,33,1688,0,30,0,0,64...","0,5073,0,0,0,0,0,0,0,2,0,0,41,0,0,35476,0,118,...",NaN
4789,https://github.com/mher/flower,"c0a85e8531494151918bc45256a7fc9b023d77ae.siva,...",178,"CSS,Dockerfile,HTML,INI,JSON,JavaScript,Jupyte...","328781,683,34046,347,12574,975744,17026,6762,2...","7547,21,896,20,524,5225,775,178,12,5435,15,17,...","13,1,15,2,1,27,1,1,1,52,1,2,5,2,12",1119,350,0,"81,0,70,0,3,956,0,28,0,1119,0,0,0,6,0","7296,0,795,0,520,3641,774,143,0,3284,0,0,0,40,0","160,0,16,0,0,621,0,6,0,980,0,0,0,0,0",BSD-3-Clause:0.986

## Let's add a column with the language count of all repos that have a Jupyter Notebook

In [90]:
langs_count = []
for row in range(len(jupyter_df)):
    langs_count.append(jupyter_df.iloc[row]['LANGS'].count(',')+1)
jupyter_df = jupyter_df.assign(LANGS_COUNT = langs_count)

In [91]:
jupyter_df.describe(include='all')

,URL,SIVA_FILENAMES,FILE_COUNT,LANGS,LANGS_BYTE_COUNT,LANGS_LINES_COUNT,LANGS_FILES_COUNT,COMMITS_COUNT,BRANCHES_COUNT,FORK_COUNT,EMPTY_LINES_COUNT,CODE_LINES_COUNT,COMMENT_LINES_COUNT,LICENSE,LANGS_COUNT
count,2606,2606,2606,2606,2606,2606,2606,2606,2606,2606.000000,2606,2606,2606,1694,2606.000000
unique,2606,2439,747,1493,2529,2529,2250,897,398,NaN,2384,2528,2082,261,NaN
top,https://github.com/DEAP/notebooks,c24f3c3f9914ca8fc946e7129acd5fa50c16c65f.siva,8,"Jupyter Notebook,Markdown,Python,Text","402,29377,1400,5438294,21,900,19866,82,49889,2...","3794,21,1434,22","1,1,1",6,2,NaN,"0,0,0","0,0,0,172061,0,36,752,3,832,15,0,9,0,0","0,0,0",MIT:0.988,NaN
freq,1,29,40,184,3,3,50,40,502,NaN,13,3,134,287,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.209133,NaN,NaN,NaN,NaN,9.006523
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.520236,NaN,NaN,NaN,NaN,9.918340
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,4.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,7.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,12.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.000000,NaN,NaN,NaN,NaN,392.000000

In [92]:
jupyter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 494 to 181478
Data columns (total 15 columns):
URL                    2606 non-null object
SIVA_FILENAMES         2606 non-null object
FILE_COUNT             2606 non-null object
LANGS                  2606 non-null object
LANGS_BYTE_COUNT       2606 non-null object
LANGS_LINES_COUNT      2606 non-null object
LANGS_FILES_COUNT      2606 non-null object
COMMITS_COUNT          2606 non-null object
BRANCHES_COUNT         2606 non-null object
FORK_COUNT             2606 non-null int64
EMPTY_LINES_COUNT      2606 non-null object
CODE_LINES_COUNT       2606 non-null object
COMMENT_LINES_COUNT    2606 non-null object
LICENSE                1694 non-null object
LANGS_COUNT            2606 non-null int64
dtypes: int64(2), object(13)
memory usage: 325.8+ KB